<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/cuidaidososb/src/main/resources/static/css/style.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=League+Gothic&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet" />
  <script src="https://cdn.tailwindcss.com"></script>
  <script>
    tailwind.config = {
      theme: {
        extend: {
          colors: {
            redlight: "#E55959",
            greenlight: "#7FCDCD",
            graylight: "#E7E7E7",
            graytext: "#D9D9D9",
          },
        },
      },
    };
  </script>
  <title>Landpage</title>
</head>

<body>
  <header>
    <nav class="fixed z-50 flex items-center justify-between h-20 w-full p-5 bg-[#3b3b3b] bg-opacity-20 shadow-sm">
      <div>
        <a href="/"><img class="w-48 mx-24" src="/cuidaidososb/src/main/resources/static/img/logo.png" /></a>
      </div>
      <ul class="flex justify-between items-center space-x-5 mr-24">
        <li class="text-black font-bold text-lg">
          <a href="/">Início</a>
        </li>
        <li class="text-black font-bold text-lg">
          <a href="/#beneficios">Benefícios</a>
        </li>
        <li class="text-black font-bold text-lg">
          <a href="/#historia">História</a>
        </li>
        <li class="text-black font-bold text-lg">
          <a href="/#depoimentos">Depoimentos</a>
        </li>
        <li class="text-black font-bold text-lg">
          <a href="/#contato">Contato</a>
        </li>
      </ul>
    </nav>
  </header>
  <main>
    <section id="start">
      <div>
        <div class="bg-[url('/cuidaidososb/src/main/resources/static/img/bgpark.png')] bg-cover bg-no-repeat bg-center w-full h-screen">
          <div class="absolute bg-[#7FCDCD] drop-shadow rounded-full w-[499px] h-[499px] bottom-0 left-40"></div>
          <img class="absolute bottom-0 left-36" src="/cuidaidososb/src/main/resources/static/img/senior_gesturing.png"
            alt="Senior Gesturing" />
          <div class="absolute bottom-96 right-96">
            <p class="text-6xl font-roboto font-bold text-shadow-custom">
              Os melhores
            </p>
            <p class="text-6xl font-bold font-roboto text-shadow-custom text-[#7FCDCD]">
              Profissionais
            </p>
            <p class="text-6xl font-bold font-roboto text-[#7FCDCD]">
              cadastrados
            </p>
            <p class="text-6xl font-bold font-roboto">em nossa plataforma</p>
          </div>
          <div class="absolute bottom-[350px] right-[950px]">
            <a href="login.html">
              <button
                class="absolute w-[568px] h-[66px] bg-[#7FCDCD] rounded-[12px] text-white text-[32px] font-bold shadow-lg font-roboto">
                Clique aqui para entrar na plataforma
              </button>
            </a>
          </div>
        </div>
      </div>
    </section>
    <section class="relative w-full h-[629px] flex items-center justify-center" id="beneficios">
      <div class="relative w-[1289px] h-[465px] drop-shadow-[0px_4px_4px_rgba(0,0,0,0.25)]">
        <div class="w-full h-full bg-[#D37687] rounded-[40px] relative flex flex-col items-center justify-center">
          <h1 class="absolute top-4 text-white font-roboto font-bold text-[68px] text-shadow-lg">
            Benefícios
          </h1>
          <div class="absolute w-[255px] h-[296px] left-[46px] top-[135px]">
            <div class="absolute w-[255px] h-[255px] left-0 top-[41px] bg-[#FAFAFA] shadow-[0_4px_4px_rgba(0,0,0,0.25)] rounded-[20px]"></div>
            <div class="absolute w-[127px] h-[127px] left-[64px] top-0 bg-[#7FCDCD] rounded-full"></div>
            <img src="../../static/svg/health.svg" class="absolute w-[88px] h-[88px] left-[83px] top-[19px]" alt="Health Icon">
            <p class="absolute w-[194px] h-[99px] left-[30px] top-[152px] font-roboto font-bold text-[28px] leading-[33px] text-center text-black">Encontre seu cuidador com facilidade</p>
          </div>
          <div class="absolute w-[255px] h-[296px] left-[364px] top-[135px]">
            <div class="absolute w-[255px] h-[255px] left-0 top-[41px] bg-[#FAFAFA] shadow-[0_4px_4px_rgba(0,0,0,0.25)] rounded-[20px]"></div>
            <div class="absolute w-[127px] h-[127px] left-[64px] top-0 bg-[#7FCDCD] rounded-full"></div>
            <img src="../../static/svg/health.svg" class="absolute w-[88px] h-[88px] left-[83px] top-[19px]" alt="Health Icon">
            <p class="absolute w-[194px] h-[99px] left-[30px] top-[152px] font-roboto font-bold text-[28px] leading-[33px] text-center text-black">Encontre seu cuidador com facilidade</p>
          </div>
          <div class="absolute w-[255px] h-[296px] left-[676px] top-[135px]">
            <div class="absolute w-[255px] h-[255px] left-0 top-[41px] bg-[#FAFAFA] shadow-[0_4px_4px_rgba(0,0,0,0.25)] rounded-[20px]"></div>
            <div class="absolute w-[127px] h-[127px] left-[64px] top-0 bg-[#7FCDCD] rounded-full"></div>
            <img src="../../static/svg/health.svg" class="absolute w-[88px] h-[88px] left-[83px] top-[19px]" alt="Health Icon">
            <p class="absolute w-[194px] h-[99px] left-[30px] top-[152px] font-roboto font-bold text-[28px] leading-[33px] text-center text-black">Encontre seu cuidador com facilidade</p>
          </div>
          <div class="absolute w-[255px] h-[296px] left-[988px] top-[135px]">
            <div class="absolute w-[255px] h-[255px] left-0 top-[41px] bg-[#FAFAFA] shadow-[0_4px_4px_rgba(0,0,0,0.25)] rounded-[20px]"></div>
            <div class="absolute w-[127px] h-[127px] left-[64px] top-0 bg-[#7FCDCD] rounded-full"></div>
            <img src="../../static/svg/health.svg" class="absolute w-[88px] h-[88px] left-[83px] top-[19px]" alt="Health Icon">
            <p class="absolute w-[194px] h-[99px] left-[30px] top-[152px] font-roboto font-bold text-[28px] leading-[33px] text-center text-black">Encontre seu cuidador com facilidade</p>
          </div>
        </div>
      </div>
    </section>
    <section id="imagens">
      <div class="flex items-center justify-center">
        <img class="rounded-3xl" src="../../static/img/Group 113.png"/>
      </div>
    </section>
    <section id="história" class="relative w-full flex flex-col items-center justify-center py-16">
      <div class="relative flex flex-row items-center space-x-20">
        <div class="w-[492px] h-[492px] drop-shadow-[0px_4px_4px_rgba(0,0,0,0.25)] bg-cover bg-center rounded-[106px] flex items-center justify-center" style="background-image: url('../../static/img/Frame\ 7.png');">
        </div>
        <div class="relative w-[683px] h-[302px] drop-shadow-[0_4px_4px_rgba(0,0,0,0.25)] bg-[#A6EAFF] rounded-[40px] flex flex-col items-center justify-center px-8 py-4">
          <h1 class="mr-[346px] font-roboto font-bold text-[68px] leading-[80px] text-[#211715] mb-4">
            História
          </h1>
          <p class="w-[579px] text-justify font-roboto font-bold text-[20px] leading-[23px] text-black">
            Há 10 anos, na Universidade UNISENAI, nossos fundadores iniciaram sua jornada ao criar uma solução inovadora:
            facilitar o encontro entre idosos e seus cuidadores ideais. Desde então, temos dedicado nossa missão a
            transformar a experiência de cuidados para a terceira idade.
          </p>
        </div>
      </div>
    </section>
    <section id="depoimentos" class="relative w-full h-[600px] flex items-center justify-center">
      <div class="absolute w-[1512px] h-[629px]">
      <h1 class="absolute w-[417px] h-[75px] left-[564px] top-[41px] font-roboto font-bold text-[68px] leading-[80px] text-[#211715] text-shadow-lg">
        Depoimentos
      </h1>
      <div class="absolute w-[392px] h-[156px] left-[112px] top-[186px] bg-white shadow-md">
        <div class="absolute w-[336px] h-[100px] left-[27px] top-[23px]">
        <div class="absolute w-[53px] h-[53px] left-0 top-0 bg-[url('../../static/img/Depoimentos4.png')]"></div>
        <div class="absolute w-[273px] h-[100px] left-[63px] top-0">
          <div class="absolute w-[101px] h-[21px] left-[3px] top-0 font-roboto font-bold text-[18px] leading-[21px] text-black">
          Maria Joana
          </div>
          <div class="absolute w-[110px] h-[22px] left-0 top-[26px] flex">
            <div class="w-[30px] h-[15px] bg-[url('../../static/svg/star.svg')] bg-contain bg-center"></div>
            <div class="w-[30px] h-[15px] bg-[url('../../static/svg/star.svg')] bg-contain bg-center ml-2"></div>
            <div class="w-[30px] h-[15px] bg-[url('../../static/svg/star.svg')] bg-contain bg-center ml-2"></div>
            <div class="w-[30px] h-[15px] bg-[url('../../static/svg/star.svg')] bg-contain bg-center ml-2"></div>
            <div class="w-[30px] h-[15px] bg-[url('../../static/svg/star.svg')] bg-contain bg-center ml-2"></div>          
          </div>
          <div class="absolute w-[273px] h-[38px] left-0 top-[62px] font-roboto font-bold text-[16px] leading-[19px] text-black">
          Desde o primeiro momento eu amei a plataforma, show de bola!
          </div>
        </div>
        </div>
      </div>
      <div class="absolute w-[392px] h-[156px] left-[546px] top-[186px] bg-white shadow-md">
        <div class="absolute w-[336px] h-[100px] left-[27px] top-[23px]">
        <div class="absolute w-[53px] h-[53px] left-0 top-0 bg-[url('../../static/img/Depoimentos1.png')]"></div>
        <div class="absolute w-[273px] h-[100px] left-[63px] top-0">
          <div class="absolute w-[145px] h-[21px] left-[3px] top-0 font-roboto font-bold text-[18px] leading-[21px] text-black">
          Maria Silva Souza
          </div>
          <div class="absolute w-[110px] h-[22px] left-0 top-[26px] flex">
            <div class="w-[30px] h-[15px] bg-[url('../../static/svg/star.svg')] bg-contain bg-center"></div>
            <div class="w-[30px] h-[15px] bg-[url('../../static/svg/star.svg')] bg-contain bg-center ml-2"></div>
            <div class="w-[30px] h-[15px] bg-[url('../../static/svg/star.svg')] bg-contain bg-center ml-2"></div>
            <div class="w-[30px] h-[15px] bg-[url('../../static/svg/star.svg')] bg-contain bg-center ml-2"></div>
            <div class="w-[30px] h-[15px] bg-[url('../../static/svg/star.svg')] bg-contain bg-center ml-2"></div>   
          </div>
          <div class="absolute w-[273px] h-[38px] left-0 top-[62px] font-roboto font-bold text-[16px] leading-[19px] text-black">
          Desde o primeiro momento eu amei a plataforma, show de bola!
          </div>
        </div>
        </div>
      </div>
      <div class="absolute w-[392px] h-[156px] left-[980px] top-[186px] bg-white shadow-md">
        <div class="absolute w-[336px] h-[100px] left-[27px] top-[23px]">
        <div class="absolute w-[53px] h-[53px] left-0 top-0 bg-[url('../../static/img/Depoimentos5.png')]"></div>
        <div class="absolute w-[273px] h-[100px] left-[63px] top-0">
          <div class="absolute w-[104px] h-[21px] left-[3px] top-0 font-roboto font-bold text-[18px] leading-[21px] text-black">
          Hugo Santos
          </div>
          <div class="absolute w-[110px] h-[22px] left-0 top-[26px] flex">
            <div class="w-[30px] h-[15px] bg-[url('../../static/svg/star.svg')] bg-contain bg-center"></div>
            <div class="w-[30px] h-[15px] bg-[url('../../static/svg/star.svg')] bg-contain bg-center ml-2"></div>
            <div class="w-[30px] h-[15px] bg-[url('../../static/svg/star.svg')] bg-contain bg-center ml-2"></div>
            <div class="w-[30px] h-[15px] bg-[url('../../static/svg/star.svg')] bg-contain bg-center ml-2"></div>
            <div class="w-[30px] h-[15px] bg-[url('../../static/svg/star.svg')] bg-contain bg-center ml-2"></div>   
          </div>
          <div class="absolute w-[273px] h-[38px] left-0 top-[62px] font-roboto font-bold text-[16px] leading-[19px] text-black">
          Desde o primeiro momento eu amei a plataforma, show de bola!
          </div>
        </div>
        </div>
      </div>
      <div class="absolute w-[392px] h-[156px] left-[330px] top-[405px] bg-white shadow-md">
        <div class="absolute w-[336px] h-[100px] left-[27px] top-[23px]">
        <div class="absolute w-[53px] h-[53px] left-0 top-0 bg-[url('../../static/img/Depoimentos3.png')]"></div>
        <div class="absolute w-[273px] h-[100px] left-[63px] top-0">
          <div class="absolute w-[113px] h-[21px] left-[3px] top-0 font-roboto font-bold text-[18px] leading-[21px] text-black">
          Osvaldo Pinto
          </div>
          <div class="absolute w-[110px] h-[22px] left-0 top-[26px] flex">
            <div class="w-[30px] h-[15px] bg-[url('../../static/svg/star.svg')] bg-contain bg-center"></div>
            <div class="w-[30px] h-[15px] bg-[url('../../static/svg/star.svg')] bg-contain bg-center ml-2"></div>
            <div class="w-[30px] h-[15px] bg-[url('../../static/svg/star.svg')] bg-contain bg-center ml-2"></div>
            <div class="w-[30px] h-[15px] bg-[url('../../static/svg/star.svg')] bg-contain bg-center ml-2"></div>
            <div class="w-[30px] h-[15px] bg-[url('../../static/svg/star.svg')] bg-contain bg-center ml-2"></div>   
          </div>
          <div class="absolute w-[273px] h-[38px] left-0 top-[62px] font-roboto font-bold text-[16px] leading-[19px] text-black">
          Desde o primeiro momento eu amei a plataforma, show de bola!
          </div>
        </div>
        </div>
      </div>
      <div class="absolute w-[392px] h-[156px] left-[784px] top-[405px] bg-white shadow-md">
        <div class="absolute w-[336px] h-[100px] left-[27px] top-[23px]">
        <div class="absolute w-[53px] h-[53px] left-0 top-0 bg-[url('../../static/img/Depoimentos2.png')]"></div>
        <div class="absolute w-[273px] h-[100px] left-[63px] top-0">
          <div class="absolute w-[142px] h-[21px] left-[3px] top-0 font-roboto font-bold text-[18px] leading-[21px] text-black">
          Gertrudes Santos
          </div>
          <div class="absolute w-[110px] h-[22px] left-0 top-[26px] flex">
            <div class="w-[30px] h-[15px] bg-[url('../../static/svg/star.svg')] bg-contain bg-center"></div>
            <div class="w-[30px] h-[15px] bg-[url('../../static/svg/star.svg')] bg-contain bg-center ml-2"></div>
            <div class="w-[30px] h-[15px] bg-[url('../../static/svg/star.svg')] bg-contain bg-center ml-2"></div>
            <div class="w-[30px] h-[15px] bg-[url('../../static/svg/star.svg')] bg-contain bg-center ml-2"></div>
            <div class="w-[30px] h-[15px] bg-[url('../../static/svg/star.svg')] bg-contain bg-center ml-2"></div>   
          </div>
          <div class="absolute w-[273px] h-[38px] left-0 top-[62px] font-roboto font-bold text-[16px] leading-[19px] text-black">
          Desde o primeiro momento eu amei a plataforma, show de bola!
          </div>
        </div>
        </div>
      </div>
      </div>
    </section>
  <section id="contato" class="relative w-[1164px] h-[531px] mx-auto mt-20">
    <h1 class="absolute w-[248px] h-[75px] left-[444px] top-0 font-roboto font-bold text-[68px] leading-[80px] text-[#211715] text-shadow-lg">
      Contato
    </h1>
    <div class="absolute w-[1164px] h-[399px] top-[122px] bg-white shadow-md rounded-[12px]">
      <div class="relative top-[-120px]">
        <div class="absolute left-[56px] top-[166px]">
          <h2 class="font-roboto font-bold text-[32px] leading-[38px] text-black">
            Entre em contato
          </h2>
          <p class="font-roboto font-normal text-[16px] leading-[19px] text-[#5E5E5E] mt-2">
            Formeça seus dados que entraremos em contato
          </p>
        </div>
        <img class="absolute w-[602px] h-[185px] right-[505px] top-[250px]" src="../../static/img/localizacao.png" alt="localizacao">
        <div class="absolute left-[683px] top-[161px]">
          <label for="nome" class="font-roboto font-light text-[16px] leading-[19px] text-black">
            Nome:
          </label>
          <input id="nome" placeholder="Escreva aqui seu nome." type="text" class="w-[434px] h-[35px] pl-2 pt-1 mt-1 bg-white border border-[#D9D9D9] rounded-[4px]">
        </div>
        <div class="absolute left-[683px] top-[225px]">
          <label for="assunto" class="font-roboto font-light text-[16px] leading-[19px] text-black">
            Assunto:
          </label>
          <input id="assunto" placeholder="Fale o assunto do contato." type="text" class="w-[434px] h-[35px] pl-2 pt-1 mt-1 bg-white border border-[#D9D9D9] rounded-[4px]">
        </div>
        <div class="absolute left-[683px] top-[296px]">
          <label for="mensagem" class="font-roboto font-light text-[16px] leading-[19px] text-black">
            Mensagem:
          </label>
          <textarea id="mensagem" placeholder="Descreva aqui o motivo do contato." class="w-[434px] h-[137px] pl-2 pt-1 mt-1 bg-white border border-[#D9D9D9] rounded-[4px]"></textarea>
        </div>
        <button class="absolute w-[102px] h-[30px] left-[683px] top-[470px] bg-[#7FCDCD] shadow-md rounded-[4px] text-white font-roboto font-bold text-[16px] leading-[19px]">
          Enviar
        </button>
      </div>
    </div>
    <div class="absolute left-[64px] top-[456px] flex space-x-4">
      <div class="w-[30px] h-[30px] bg-[url('../../static/svg/instagram.svg')] bg-contain bg-center"></div>
      <div class="w-[30px] h-[30px] bg-[url('../../static/svg/telefone.svg')] bg-contain bg-center"></div>
      <div class="w-[30px] h-[30px] bg-[url('../../static/svg/facebook.svg')] bg-contain bg-center"></div>
      <div class="w-[30px] h-[30px] bg-[url('../../static/svg/whatsapp.svg')] bg-contain bg-center"></div>
    </div>
  </section>
  </main>
  <footer>
    <div class="flex flex-col items-center justify-center h-32 text-[#6B6B6B]">
      <p>Cuidaidoso© todos os direitos reservados.</p>
    </div>
  </footer>
</body>

</html>