body {
    background-color: #E7E7E7;
    font-family: "Roboto", "sans-serif";
    margin: 0;
    padding: 0;
}

.custom-label {
    height: 40;
    /* Ajuste a altura conforme necessário */
    display: flex;
    align-items: center;
}

.custom-select {
    height: 2.5rem;
    /* Para garantir que o select preencha a altura do label */
}