body {
    background-color: #E7E7E7;
    font-family: "Roboto", "sans-serif";
    margin: 0;
    padding: 0;
}
.custom-label { /* Ajuste a altura conforme necessário */
    display: flex;
    align-items: center;
}
.custom-select {
    height: 100%; /* Para garantir que o select preencha a altura do label */
}